@*<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/customJS")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Angular Note", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                     <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" ng-view="">
        @RenderBody()
        <hr />
        <footer>
            <!--  <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p> -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REST Angular Resource Module App Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/customJS")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
</head>
<body ng-app="myApp">
    <!--<ul class="menu">
        <li><a href="#/task-list">Task List</a></li>
        <li><a href="#/task-creation">New Task</a></li>
    </ul>-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<div class="container" ng-view=""></div>
    <script src="lib/jquery/jquery-2.0.3.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/bootstrap/bootstrap.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>*@
</body>
</html>